.AboutWrapper { padding: 150px 0px; background-color:#fafafa;}
.AboutWrapper .AboutImg { position: relative;}
.AboutWrapper .AboutImg .ImgBox img { width: 100%; max-height: 500px; }
.AboutImg .Aboutcontent { position: absolute; bottom: -30px; right: -30px;}
.Aboutcontent .ContentImg { width: 350px; height:170px;  position: relative; margin:15px 0 0 0; overflow: hidden; }
.Aboutcontent .ContentImg img { width: 100%; height:208px;}
.Aboutcontent .ContentImg .CimgDetails {width: 100%; position: absolute; bottom: 0px; top: 0px; bottom: 0px; left: 0px; font-size: 18px; 
    color:#000000; background-color: rgba(255,229,0,0.8); display: flex; flex-direction: column; align-items: flex-start;
justify-content:flex-end; padding: 0 0 40px 40px;} 
.Aboutcontent .ContentImg .CimgDetails.CimgDetails2 { background-color: rgba(4,131,142,0.8); }
.Aboutcontent .ContentImg .CimgDetails p { font-size:20px; color: #ffffff; text-transform: uppercase; padding: 0 0 15px 0; }
.Aboutcontent .ContentImg .CimgDetails a { font-size: 14px; color: #ffffff;}

.AboutRgtCont { padding: 0 0 0 50px;}
.AboutRgtCont h3 { font-size:40px; color: #000000; padding: 0 0 50px 0px; font-weight: bold; font-weight: bold; font-family: 'Conv_Oswald-Regular';}
.AboutRgtCont h3 span { color:#008692;}
.AboutRgtCont p { font-size: 20px; line-height: 30px; padding-bottom:30px;}
.AboutRgtCont p span { display: block;}
.AboutRgtCont .Button { margin: 30px 0 0 0;}

.VIntigration  { width: 100%; padding: 100px 0px; border-bottom: #ececec 1px solid;}
.VIntigration .VintLeft  { padding-right: 30px;}
.VIntigration .VintRgt { padding-left: 30px;}
.VIntigration .VintLeft h4 { font-size: 40px; line-height: 50px; margin: 0 0 80px 0; font-weight: bold;  font-family: 'Conv_Oswald-Regular'; }
.VIntigration .VintLeft h4 span { display: block; color: #008692;}

.VIntigration .VintRgt p.VintRgt-head { padding: 70px 0 30px 0px; font-size: 20px; font-family: 'Conv_Oswald-Regular';}
.VintLeft .VintImage img { width: 100%; }
.VIntigration .VintRgt p { font-size: 13px; line-height: 20px;}
.VIntigration .VintRgt ul.VintList { margin: 0px; padding: 0px 150px 0 0; list-style-type: none; width: 100%;}
.VIntigration .VintRgt ul.VintList li { padding: 0 0 35px 0; font-size: 16px; line-height: 20px;}

.QualifiedMarket { padding: 100px 0; clear: both;  background: #ffffff;}
.QualifiedMarket .Heading { padding: 0 0 80px 0;}
.QualifiedMarket .Heading h4 { font-size: 40px; color: #000000; text-align: center; text-transform: uppercase; line-height: 46px;
    font-family: 'Conv_Oswald-Regular';}
.QualifiedMarket .Heading h4 span{color:#008692; display: block;}

.QualifiedBoxArea .QB-area { background: #f7f7f7; padding: 15px;}
.QB-area .QB-top { position:relative;}ss.QB-area .QB-top .QB-Image img { width: 100%;}

.QB-area .QB-hover{ display: none; position: absolute; top: 0px; left:0px; right: 0px; bottom: 0px; height: 100%; z-index: 200;}
.QualifiedBoxArea .QB-area:hover .QB-hover{ display: block; background: rgba(0,134,146,0.7); display: flex; align-items: center; justify-content:
    center; width: 100%;}
.QB-area .QB-hover a { display: inline-block; margin: 0 15px 0 0;} 

.QB-area .QB-top .QB-New { position: absolute; top: 20px; right: 20px; z-index: 201;}
.QB-area .QB-top .QB-New a.new{ background-color: #09c8f1; color: #ffffff; padding: 5px 20px; font-size: 14px; border-radius: 3px; text-decoration: none;}
.QB-details .QBDetails-Head { border-bottom:#e0e0e0 1px solid; padding: 26px 0;}
.QB-details .QBDetails-Head p.headtext { font-size: 18px; color: #000000; position:relative; font-weight: bold; padding: 0 0 15px 0;}
.QB-details .QBDetails-Head p.headtext:before{ position: absolute; content: " "; width: 50px; height: 1px; background-color: #03cbdd; bottom: 0px;
left: 0px; margin: 0 0 8px 0; }
.QB-details .QBDetails-Head p { font-size: 12px; }

.QBDetails-list { padding: 20px 0px;}
.QBDetails-list ul { margin:0px; padding: 0px; list-style-type: none; }
.QBDetails-list ul li { display: inline-block; width: 30.33%; position: relative;}
.QBDetails-list ul li:after{ background:#d3d3d3; width: 1px; height: 40px; top: 0px; right: 15px; position: absolute; content: " ";}
.QBDetails-list ul li:last-child:after{ background:transparent;}
.QBDetails-list ul li:nth-child(2):after{ right: 20px;}
.QBDetails-list ul li .icons { display: flex; align-items: center; margin: 0 0 10px 0;}
.QBDetails-list ul li .icons img { margin: 0 10px 0px 0;}
.QBDetails-list ul li .icons p { font-weight: normal; color: #acacac; font-size: 10px; text-transform: uppercase;}
.QBDetails-list ul li  p { font-weight: bold; font-size: 11px;}

.QualifiedMarket .viewmore { text-align: center; padding: 40px 0 0 0;}
.QualifiedMarket .viewmorearea { clear: both;}


.Newsletter  { background-image: url('<?php bloginfo('template_directory'); ?>/images/Subscribe-bgr.jpg'); background-repeat: no-repeat; background-position: center top; background-size: cover; padding: 90px 0px; clear: both; }
.Newsletter .SubsLeft h5{ font-size: 13px; color: #ffffff; font-family: 'Conv_Oswald-Regular'; line-height: 35px; margin: 0px;}
.Newsletter .SubsLeft h5 span{ font-size: 28px; color: #ffffff; display: block; }

.Newsletter .SubsRight { max-width: 550px; height: 50px; background:#ffffff; border-radius: 5px; display: flex; justify-content: space-between; align-items: center;
padding: 2px; float: right; margin: 15px 0 0 0; }
.SubsRight .subemail { height: 46px; border: 0px; box-shadow: 0px 0px 0px; }
.SubsRight .subemail:focus{ outline: 0px; box-shadow: 0px 0px 0px;}
.subbtn { background: #008692; font-size: 14px; color: #ffffff; height: 46px; line-height: 46px; padding: 0px 28px; text-transform: uppercase;}

.NewsletterArchive { padding: 70px 0px;}
.NewsletterArchive .heading h6{ color: #000000;font-family: 'Conv_Oswald-Regular'; font-size: 32px; padding: 0 0 30px 0;}
.NewsletterArchive .heading  span{ color: #008692;}
.NewsletterArchive  .heading p { font-size: 14px; color: #000000; line-height: 20px;}

.NewsletterArchive .ArchiveList { padding: 70px 0 0 0;}
.NewsletterArchive .ArchiveList ul { margin: 0px; padding: 0px; list-style-type: none; width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }
.NewsletterArchive .ArchiveList ul li { border: #d9d9d9 1px solid; width: 250px; height: 210px; display: flex; align-items: center; justify-content: center;
flex-direction: column; padding: 0 20px; border-radius: 5px; width: 18%; margin: 0 0 30px 0; }
.NewsletterArchive .ArchiveList ul li a { background-image: url('<?php bloginfo('template_directory'); ?>/images/pdf-icon.png'); background-position: center top; background-repeat: no-repeat; 
    width: 57px; height: 60px; display: inline-block; margin: 0 0 15px 0;}
.NewsletterArchive .ArchiveList ul li p { font-size: 14px; line-height: 20px; color: #000000; text-align: center; white-space: pre-line;}
.NewsletterArchive .ArchiveList ul li:nth-child(5) { margin-right: 0px;}
.NewsletterArchive .ArchiveList ul li:hover{ background-color:#d2ecee; border: 0px;}
.NewsletterArchive .ArchiveList ul li:hover a{ background-image:url('<?php bloginfo('template_directory'); ?>/images/pdf-icon-hover.png'); }

@media (max-width:1660px) {
    .Newsletter { padding: 70px 0;}
}

@media (max-width:1440px) {
.AboutWrapper {padding: 100px 0px;  }
}


@media (max-width:1366px) {
    .VIntigration { padding: 70px 0px; }
    .QualifiedMarket { padding:70px 0; }
}

@media (max-width:1280px) {
.AboutWrapper {padding: 70px 0px;  }
.VIntigration .VintRgt p.VintRgt-head {padding: 25px 0 25px 0px;}
}


@media (max-width:1024px) {
.AboutRgtCont { padding: 0 0 0 30px;}
.AboutRgtCont .Button { margin: 0px 0 0 0;}
.AboutRgtCont h3 { padding: 0 0 20px 0;}
.AboutRgtCont p { padding-bottom: 15px;}


.VIntigration .VintLeft { padding-right:0px;}
.VIntigration .VintRgt { padding-left:0px;}
.VIntigration .VintRgt ul.VintList {padding:0;  }
.VIntigration { padding: 30px 0px;}
.VIntigration .VintRgt ul.VintList li { padding: 0 0 20px 0; }

.QualifiedMarket {padding: 30px 0;}
.QualifiedMarket .Heading { padding: 0 0 40px 0;}
.QualifiedBoxArea .QB-area { margin: 0 0 15px 0px;}
.QualifiedMarket .viewmore {padding:15px 0 0 0; }
.QB-details .QBDetails-Head { padding: 15px 0;}
.QBDetails-list {padding: 15px 0 0 0px; }
.QBDetails-list ul li { width: 100%; border-bottom: #d3d3d3 1px solid; padding: 0 0 10px 0; margin: 0 0 10px 0; }
.QBDetails-list ul li:last-child{ margin: 0px; padding: 0px; border: transparent;}
.QBDetails-list ul li:after { background: transparent; border: 0px;}

.Newsletter { padding: 50px 0;}

.NewsletterArchive { padding: 30px 0px;}
.NewsletterArchive .ArchiveList {  padding: 30px 0 0 0;}


}




@media (max-width:992px) {
.AboutImg .Aboutcontent { bottom: 30px; right: 30px; }
.AboutRgtCont { margin: 15px 0 0 0; padding:0px;}
.AboutRgtCont .Button { margin: 15px 0 0 0;}
}


@media (max-width:768px) {
.AboutWrapper { padding: 70px 0px;  }
.VIntigration .VintLeft h4 { margin: 0 0 20px 0px; }
.VIntigration .VintRgt p { margin: 15px 0 0 0;}
.VIntigration .VintRgt p.VintRgt-head {  padding:15 0px; margin: 0px;}

.NewsletterArchive .ArchiveList ul li { width: 32%; margin: 0 0 15px 0;}
}

@media(max-width:767px) {
.AboutWrapper { padding: 50px 0px; padding: 15px 0px; }
.Aboutcontent .ContentImg { width: 270px;height: 120px; }
.Aboutcontent .ContentImg .CimgDetails { padding: 0 0 15px 15px;}

.QualifiedMarket { padding: 15px 0;}

.Newsletter { padding: 40px 0;} 
.NewsletterArchive .ArchiveList ul li { width: 100%; margin: 0 0 15px 0;}


}


@media(max-width:479px) {    
    .Aboutcontent .ContentImg { width: 230px;height: 100px; }
    .Aboutcontent .ContentImg .CimgDetails { padding: 0 0 15px 15px;}
    .Aboutcontent .ContentImg .CimgDetails p { font-size: 16px; padding: 0 0 10px 0; }
    .AboutRgtCont .Button { margin: 0;}


    .VIntigration { padding: 15px 0px;}
    .VIntigration .VintLeft h4 { font-size: 26px; line-height: 36px; }
    .VIntigration .VintRgt ul.VintList li:last-child {  padding-bottom:0; }

    .QualifiedMarket .Heading { padding: 0 0 15px 0;}
    .QualifiedMarket .Heading h4 { font-size: 26px; line-height: 36px; }

    .NewsletterArchive { padding: 15px 0px;}
    .NewsletterArchive .ArchiveList {  padding: 15px 0 0 0;}
    
}

