 .InnerTop h2 { font-family: 'Conv_Oswald-Regular'; font-size:26px; line-height:36px  }
 .InnerBot h3 { font-family: 'Conv_Oswald-Regular'; font-size:20px; margin: 20px 0; }
 .InnerBot h4 { font-family: 'Conv_Oswald-Regular'; font-size:20px; margin: 20px 0; }

 .InnerBot .AboutBox { background-color: #f5f5f5; color: #000000; padding: 30px; min-height: 100px; display:flex; 
  justify-content: center; align-items: center; border-radius:10px; margin: 0 0 30px 0; }
  .InnerBot .AboutBox:hover{ background-color: #ffe500; color: #000000;}
  .InnerBot .AboutBox p { font-size: 16px; line-height: 28px;}

  .InnerBot .mission-area .mission-box { background: #f9f9f9; border:#f5f5f5 1px solid; text-align: center; min-height: 180px; margin: 0 0 30px 0px;
display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 10px;}
.InnerBot .mission-area .mission-box img { max-width: 54px; margin: 0 0 15px 0px;}
  .InnerBot .mission-area .mission-box p { font-size:24px; font-family: 'Conv_Oswald-Regular';}
  .InnerBot .mission-area .mission-box:hover{ background: #ffe500; border: #ffe500 1px solid;}


  .List1{ margin: 0px; padding: 0px; list-style-type: none; width: 100%; display: flex; justify-content: space-between;}
  .List1 li { margin: 0 0 10px 0; display: inline; width: 24%; }
  .List1 li a { display: block; padding: 15px 20px; background: #032632; color: #fff; border-radius: 5px;
   font-size: 16px; text-decoration: none; text-align: center;}
   .List1 li a:hover{ background: #000000;  }

   .community-area .com-image img { width: 100%;}

   ul.list2 { margin: 0px; padding: 0px; list-style-type: none; width: 100%;}
   ul.list2 li { background: #f9f9f9; min-height: 60px; padding: 15px 15px; margin: 0 0 10px 0; font-size: 16px; line-height: 24px;
border-radius: 3px; display: flex; align-items: center; border: #f5f5f5 1px solid;  }
ul.list2 li:last-child{ margin-bottom: 0px;}
ul.list2 li span { font-weight: bold;}
ul.list2 li:hover{ background: #ffe500; color: #000000; border:#ffe500 1px solid;}

.InnerBot .Testimonial-Box {  background-color: #f9f8f7; padding:30px 20px; margin: 0 0  30px 0; overflow: hidden; }
.Testimonial-Box .TestImg img { width: 100%; border-radius: 3px; max-width:180px;}
.InnerBot .Testimonial-Box .TestContent  h4 { margin-top: 0px; color: #008692;}
.InnerBot .Testimonial-Box .TestContent  p { font-size: 16px; line-height: 24px; margin: 0 0 10px 0;}
.InnerBot .Testimonial-Box .TestContent  p span { display: block;}
.Testimonial-Box  .TestBy { display: flex; align-items: center; justify-content: flex-end; margin:15px 0 0 0; padding: 20px 0 0 0;
border-top: #dcdcdc 1px solid;}
.Testimonial-Box  .TestBy img { max-width: 80px; border-radius: 40px; margin: 0 0 0 30px;}
.Testimonial-Box  .TestBy span p { text-align: right; font-size: 13px; line-height: 20px;} 
.Testimonial-Box  .TestBy span p.name{ color:#008692; font-size: 14px; font-weight: bold; }

 
